# Exclude specific sensitive JSON files here
access_account.json
test-key-decoded.json

# General patterns
.env  # Exclude environment files

# Exclude credentials folder if it exists
credentials/

# Exclude Cloud Code and PyArrow files
.cache/cloud-code/*
.local/lib/python3.12/site-packages/pyarrow/*.so


.bash_history
.bash_history
